@font-face {
    font-family: 'montserratbold';
    src: url('fonts/julieta-ulanovsky_montserrat/montserrat-bold-webfont.eot');
    src: url('fonts/julieta-ulanovsky_montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/julieta-ulanovsky_montserrat/montserrat-bold-webfont.woff2') format('woff2'),
    url('fonts/julieta-ulanovsky_montserrat/montserrat-bold-webfont.woff') format('woff'),
    url('fonts/julieta-ulanovsky_montserrat/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('fonts/julieta-ulanovsky_montserrat/montserrat-regular-webfont.eot');
    src: url('fonts/julieta-ulanovsky_montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/julieta-ulanovsky_montserrat/montserrat-regular-webfont.woff2') format('woff2'),
    url('fonts/julieta-ulanovsky_montserrat/montserrat-regular-webfont.woff') format('woff'),
    url('fonts/julieta-ulanovsky_montserrat/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/Open_Sans/opensans-bold-webfont.eot');
    src: url('fonts/Open_Sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-bold-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('fonts/Open_Sans/opensans-bolditalic-webfont.eot');
    src: url('fonts/Open_Sans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-bolditalic-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('fonts/Open_Sans/opensans-extrabold-webfont.eot');
    src: url('fonts/Open_Sans/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-extrabold-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-extrabold-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('fonts/Open_Sans/opensans-extrabolditalic-webfont.eot');
    src: url('fonts/Open_Sans/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-extrabolditalic-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/Open_Sans/opensans-italic-webfont.eot');
    src: url('fonts/Open_Sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-italic-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-italic-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/Open_Sans/opensans-light-webfont.eot');
    src: url('fonts/Open_Sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-light-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-light-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('fonts/Open_Sans/opensans-lightitalic-webfont.eot');
    src: url('fonts/Open_Sans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-lightitalic-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/Open_Sans/opensans-regular-webfont.eot');
    src: url('fonts/Open_Sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/Open_Sans/opensans-semibold-webfont.eot');
    src: url('fonts/Open_Sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-semibold-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-semibold-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('fonts/Open_Sans/opensans-semibolditalic-webfont.eot');
    src: url('fonts/Open_Sans/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open_Sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('fonts/Open_Sans/opensans-semibolditalic-webfont.woff') format('woff'),
    url('fonts/Open_Sans/opensans-semibolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entyporegular';
    src: url('fonts/entypo/entypo-webfont.eot');
    src: url('fonts/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/entypo/entypo-webfont.woff2') format('woff2'),
    url('fonts/entypo/entypo-webfont.woff') format('woff'),
    url('fonts/entypo/entypo-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 14px/22px 'open_sansregular';
    max-width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    min-height: 78px;
    background-color: #262626;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 30px;
}
.logo-wrapper,
.account-wrapper {
    flex-basis: 50%;
    margin: auto 0;
}
.logo {
    padding-left: 2px;
    padding-right: 14px;
}
.logo,
.sitename {
    display: inline-block;
}
.sitename {
    font: 20px/1 'montserratregular';
    text-transform: uppercase;
    color: white;
    letter-spacing: -0.6px;
}
.account-wrapper {
    text-align: right;
    width: 80%;
}
.social,
.search,
.user  {
    display: inline-block;
}
.social {
    padding-right: 55px;
}
.search {
    padding-right: 55px;
}
.user {
    padding-right: 4px;
}
.social span {
    color: white;
    font: 14px/18px 'montserratbold';
    text-transform: uppercase;
}
.social ul {
    display: none;
}
.search form {
    display: none;
}
.user .user-menu {
    display: none;
}
.main-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding-right: 30px;
}
.main-menu ul {
    padding: 0;
    margin: 0;
}
.main-menu-item {
    list-style-type: none;
    line-height: 0;
    border: 0;
}
.main-menu-item a {
    text-transform: uppercase;
    background-color: rgba(249, 249, 249, 0.7);
    position: relative;
    text-decoration: none;
    font: 14px/18px 'montserratbold';
    color: white;
    display: inline-block;
    min-width: 70px;
    min-height: 70px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-top-width: 0;
    white-space: nowrap;
}
.main-menu-item a:before {
    background-image: url('img/icons.png');
    position: absolute;
    content:'';
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 2;
    width: 20px;
}
.main-menu-item a:hover:before {
    background-image: url('img/icons-hover.png');
}

.main-menu-item.palette a:before {
    background-position: -2px -64px;
    height: 16px;
}
.main-menu-item.music a:before {
    background-position: -2px -157px;
    height: 18px;
}
.main-menu-item.photo a:before {
    background-position: -2px -45px;
    height: 17px;
}
.main-menu-item.video a:before {
    background-position: -2px -102px;
    height: 14px;
}
.main-menu-item.business a:before {
    background-position: -2px -82px;
    height: 18px;
}
.main-menu-item.travel a:before {
    background-position: -2px -24px;
    height: 19px;
}
.main-menu-item.shopping a:before {
    background-position: -2px -118px;
    height: 17px;
}
.main-menu-item.add a:before {
    background-position: -2px -0px;
    width: 22px;
    height: 22px;
}
.main-menu-item a span {
    display: none;
}
.main-menu-item a:hover {
    border: none;
}
.main-menu-item a:hover:before {
    color: white;
    background-color: transparent;
}
.main-menu-item a:hover span {
    background-color: #5692b1;
    display: block;
    padding: 27px 20px 25px 64px;
    box-shadow: 0 2px 4px 0 rgba(23, 23, 23, 0.17);
    z-index: 1;
    position: absolute;
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.menu-wrapper {
    width: 5%;
    display: inline-block;
    margin-right: 20px;
}
article {
    flex-basis: 30%;
    border: 1px solid #ebebeb;
    border-bottom: 5px solid;
    margin-top: 30px;
}
article:first-child {
    border-bottom-color: #2eb398;
}
article:nth-child(2) {
    border-bottom-color: #e76049;
}
article:nth-child(3) {
    border-bottom-color: #5692b1;
}
article:nth-child(4) {
    border-bottom-width: 1px;
    border-bottom-color: #ebebeb;
}
article:nth-child(5) {
    border-bottom-color: #90899c;
}
article:nth-child(6) {
    border-bottom-color: #14b9d6;
}
.article-content {
    padding: 30px 30px 20px;
    position: relative;
}
.article-content:before {
    content: '';
    position: absolute;
    left: 53px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    top: -18px;
}
.article-image img {
    width: 100% !important;
    height: auto !important;
}
.date, .comment {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    color:  #9d9d9d;
    font: 12px/1 'open_sanssemibold';
}
.date:before,
.comment:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url(img/info-icons.png);
    width: 14px;
    height: 13px;
}
.comment:before {
    background-position: -2px -0px;
}
.date:before {
    background-position: -2px -15px;
}
.article-title {
    font: 26px/30px 'montserratbold';
}
/*
.comment { background-position: -2px -0px; width: 14px; height: 13px; }
.calendar { background-position: -2px -15px; width: 13px; height: 13px; }*/

